
*{
    margin: 0;
    padding:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.9)),url("image.jpg");
    background-size:cover;
}
nav P{  
    width:100%;
    padding:10PX 0;
    /* height: 100px; */
    color:#484c4d ;
    background:#489b6a ;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size:70px;
    letter-spacing: 15px;
    position: relative;
    top:30px;
    font-family: 'Baloo Tamma 2', cursive;

}
nav p{
    position: absolute;
    top: 19px;
    /* margin-left: 245px; */
}
nav p svg{
    letter-spacing: 15px;
    font-size:40px;
    font-family: 'Baloo Tamma 2', cursive;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
}
.btn{
    background:transparent;
    padding:20px 50px;
    border:2px solid #5DADE2;
    color:#5DADE2;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline:none;
    cursor: pointer;
    position: relative;
}
.btn::before,.btn::after{
    content:'';
    position: absolute;
    width:14px;
    height: 4px;
    background:;
    transform:skewX(50deg);
    transition:0.5s;

}
.btn::before{
    top:-2px;
    left:10%;
}
.btn::after{
    bottom:-2px;
    right:10%;
}
.btn:hover::before{
    left:80%;
}
.btn:hover::after{
    right:80%;
}
.btn1{
    background:none;
    padding:20px 50px;
    border:2px solid #58D68D;
    color:#58D68D;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline:none;
    cursor: pointer;
    position: relative;
}.btn2{
    background:none;
    padding:20px 50px;
    border:2px solid #E74C3C;
    color:#E74C3C;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline:none;
    cursor: pointer;
    position: relative;
}
.btn{
    margin:30px;
}
.footer p{
    position: absolute;
    bottom:140px;
    left: 263px;
    color:white;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight:600;
    font-size:50px;
    letter-spacing: 10px;
    text-align:center;

}
.footer span{
    color:#58D68D;
}